/* Write your CSS code here */
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.icon {
  display: flex;
  align-items: center;
}
.icon-image {
  width: 20%;
  margin-right: 4px;
}
.icon-para {
  font-family: 'Roboto';
  color: #555555;
  font-size: 18px;
  font-weight: 600;
}
.link-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 20%;
}
.link {
  text-decoration: none;
  font-family: 'Roboto';
  color: #555555;
  font-size: 18px;
  font-weight: 600;
}
